---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About Us',
};
---

<Layout metadata={metadata}>
  <!-- ********** Hero Widget ********** -->
  <Hero
    tagline="About Us"
    image={{
      src: 'https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Brainstorming over paper',
    }}
  >
    <Fragment slot="title">
      Helping you <span class="text-accent highlight">maximise</span> your online presence
    </Fragment>
  </Hero>

  <!-- ********** Features2 Widget ********** -->
  <Features2
    title="About Us"
    subtitle="At sturmfrei, our mission is simple yet ambitious: to empower e-commerce businesses by providing them with high-quality, user-friendly Shopify apps and web tools. We believe that by streamlining the online shopping experience, we can help businesses of all sizes thrive in an increasingly competitive market."
    classes={{
      headline: {
        container: 'max-w-3xl md:mb-8',
      },
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-white/5"></div>
    </Fragment>
  </Features2>

  <!-- ********** Steps2 Widget ********** -->
  <Steps2
    title="Our Values"
    subtitle="We are value driven and believe in the following"
    items={[
      {
        title: 'We speak with actions',
        description: 'We believe in doing more than saying, because actions speak louder than words.',
      },
      {
        title: 'We stay foolish',
        description: 'We are not afraid to take risks and try new things, because that is how we learn and grow.',
      },
      {
        title: 'We value time',
        description: 'We believe that time is the most valuable resource, and we make the most of it.',
      },
      {
        title: 'We keep it simple',
        description: 'We believe that simplicity is the ultimate sophistication, and we strive to keep things simple.',
      },
      {
        title: 'We enjoy the journey',
        description: 'We believe that the journey is just as important as the destination, and we enjoy the ride.',
      },
    ]}
  />

  <!-- ********** Features2 Widget ********** -->
  <Features2
    title="Why choose us?"
    subtitle="A few reasons why our apps are the best choice for your e-commerce business"
    items={[
      {
        title: 'Easy Setup',
        description:
          'We provide easy-to-follow setup instructions and video tutorials to help you get started quickly.',
        icon: 'flat-color-icons:todo-list',
        classes: {
          icon: 'text-blue-500',
          panel: 'dark:bg-dark',
        },
      },
      {
        title: 'Simple + Not Bloated',
        description: 'We believe in simplicity and minimalism, so our apps are lightweight and easy to use.',
        icon: 'flat-color-icons:approval',
        classes: {
          icon: 'text-blue-500',
          panel: 'dark:bg-dark',
        },
      },
      {
        title: 'Great Technical Support',
        description: 'We provide excellent technical support to help you with any issues or questions you may have.',
        icon: 'flat-color-icons:voice-presentation',
        classes: {
          icon: 'text-blue-500',
          panel: 'dark:bg-dark',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-white/5"></div>
    </Fragment>
  </Features2>

  <!-- ********** Features2 Widget ********** -->
  <Features2
    title="Our Locations"
    tagline="Find us"
    columns={1}
    items={[
      {
        title: 'Sydney',
        description: 'Cronulla 2230, Australia',
      },
    ]}
  />
</Layout>
