---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About Us',
};
---

<Layout metadata={metadata}>
  <!-- ********** Hero Widget ********** -->
  <Hero
    tagline="About Us"
    image={{
      src: 'https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Brainstorming over paper',
    }}
  >
    <Fragment slot="title">
      Helping you <span class="text-accent highlight">maximise</span> your online presence
    </Fragment>
  </Hero>

  <!-- ********** Steps2 Widget ********** -->
  <Steps2
    title="Our Values"
    subtitle="We are value driven and believe in the following"
    items={[
      {
        title: 'We speak with actions',
        description: 'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo.',
      },
      {
        title: 'We stay foolish',
        description: 'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo.',
      },
      {
        title: 'We value time',
        description: 'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo.',
      },
      {
        title: 'We keep it simple',
        description: 'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo.',
      },
      {
        title: 'We enjoy the journey',
        description: 'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo.',
      },
    ]}
  />

  <!-- ********** Features2 Widget ********** -->
  <Features2
    title="Our Locations"
    tagline="Find us"
    columns={1}
    items={[
      {
        title: 'Sydney',
        description: 'Cronulla 2230, Australia',
      },
    ]}
  />
</Layout>
