---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';

const scrambleEmail = 'su<!-- split -->p<!-- split -->port<span>@</span>sturm<!-- split -->frei.com.au';
const emailLink = '<a id="sf-mailto-link" href="#" tabindex="0"><span class="absolute inset-0"></span></a>';
const xLink =
  '<a href="https://x.com/sturmfreico" target="_blank" tabindex="0"><span class="absolute inset-0"></span></a>';

const metadata = {
  title: 'sturmfrei',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero image={{ src: '~/assets/images/hero-image-city.png', alt: 'AstroWind Hero Image' }}>
    <Fragment slot="title">
      <span class="hidden xl:inline">We're a Sydney based startup making finely crafted</span>
      <span class="xl:hidden">Finely crafted</span>
      <span class="text-accent highlight"> apps</span> and <span class="text-accent highlight">tools</span> for the web
    </Fragment>

    <Fragment slot="subtitle">
      Empowering E-commerce: Innovative Shopify Apps and Cutting-Edge Web Tools <br /> for Your Online Success
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->
  <Features
    id="features"
    tagline="Features"
    title="What you get with our apps"
    subtitle="Best in class quality to help you succeed"
    items={[
      {
        title: 'Easy Setup',
        description:
          'Shopify apps that are easy to install and configure, with no coding required. Get started in minutes.',
        icon: 'tabler:plug-connected',
      },
      {
        title: 'Excellent Performance',
        description:
          'Our apps are optimized for performance, ensuring a fast and responsive experience for your customers.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          'Our apps are designed with SEO in mind, helping you rank higher in search engine results and drive more traffic to your store.',
        icon: 'tabler:brand-google-filled',
      },
      {
        title: 'Best Practices',
        description:
          'Our apps are built with best practices in mind, ensuring a seamless experience for you and your customers.',
        icon: 'tabler:list-check',
      },
    ]}
  />

  <Features2
    title="Get Help"
    tagline="Contact Us"
    columns={2}
    bg='<div class="absolute inset-0 bg-blue-50 dark:bg-white/5"></div>'
    items={[
      {
        title: 'Social Media',
        description: `Contact us on X ${xLink}`,
        icon: 'tabler:brand-x',
        classes: {
          icon: 'text-blue-500',
          panel: 'dark:bg-dark',
        },
      },
      {
        title: 'Email',
        description: `${scrambleEmail} ${emailLink}`,
        icon: 'tabler:mail',
        classes: {
          icon: 'text-blue-500',
          panel: 'dark:bg-dark',
        },
      },
    ]}
  />
</Layout>
